<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.globalwarming.earthsaver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarthSaver"
        tools:ignore="AllowBackup">
        <activity android:name=".account.ImageUploadActivity"></activity>
        <activity android:name=".account.EditProfileActivity" />
        <activity
            android:name=".ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.GroupsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".group.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".directories.DirectoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>